ResNetTraining/code/ResNet-Emo-Detect/venv
FuzzyEmo/YOLO_format
ResNetTraining/code/ResNet-Emo-Detect/dataset
ResNetTraining/code/ResNet-Emo-Detect/venv
ResNetTraining/code/ResNet-Emo-Detect/best_emotion_model.pth
ResNetTraining/code/ResNet-Emo-Detect/best_emotion_model1.pth1
ResNetTraining/code/dataset
.venv